* {
    border-radius: 10px;
    font-size: 30px;
}

.content {
    border: 2px solid yellow;
    padding: 20px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    border: 2px solid blue;
    background-color: skyblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weather {
    padding: 10px;
    border: 2px solid darksalmon;
    background-color: salmon;
}

.weather div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather > div:first-child {
    font-size: 34px;
    font-weight: 600;
}

.weather div > input[type="button"] {
    border: 2px solid darksalmon;
    background-color: pink;
}

.weather div > input[type="button"]:hover {
    background-color: darksalmon;
}